*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les marges internes et les bordures dans les marges des parents*/
}
a{
    text-decoration: none; /*enlève les deco texte*/
}

body {
    background-image: url(images/Pink\ Guy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    width: 15em;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images1 {
    display: flex;
    justify-content: space-evenly;
}

.imgsection1 {
    width: 150px;
    height: 150px;
}

/*a == tout les liens du site*/
a:link {color: grey;}
a:visited {color: rgb(102, 47, 88);}
a:hover {color: rgb(226, 96, 167);}
a:active {color: rgb(185, 52, 125);}

.liens {
    display: flex;
}

ul li {
    padding: 40px;
    list-style-type: none;
}


.centré {
    display: flex;
    justify-content: center;
}
h1{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    text-align: center;
    margin: 70px 0px 50px 0px;
    border: 5px dotted purple;
    padding: 30px;
    width: 70%;
    background-color: aquamarine;
}


strong{color: red;
    font-size: 2em;
    margin: 1%;
    border: 5px dotted;
}
.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-in {
    width: 500px;
    margin-top: 10em;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInMove 3s ease-out forwards;
}
.fadeinColor {
    color: pink;
}
@keyframes fadeInMove {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.lignes {
    display: flex;
    flex-direction: row-reverse;
    font-size: 5em;
    margin: 100px;
}
.lignetxt {
    color: rgb(76, 17, 131);
    border: 5px inset rgb(66, 0, 0);
}

.h22{
    color: blue;
}

.h23 {
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.lorem1 {
    color: blueviolet;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.lorem2 {
    color: brown;
    background-color: black;
    display: flex;
    align-items: last baseline;
    order: 1
}

.blanc {
    border: 1px solid black;
    background-color: antiquewhite;
    width: 150px;
    height: 150px;
}

.bleue {
    border: 1px solid black;
    background-color: blue;
    width: 150px;
    height: 150px;
}

.violet {
    border: 1px solid black;
    background-color: purple;
    width: 150px;
    height: 150px;
}

.rouge {
    border: 1px solid black;
    background-color: red;
    width: 150px;
    height: 150px;
}

.vert {
    border: 1px solid black;
    background-color: green;
    width: 150px;
    height: 150px;
}

.cadre
 {display: flex;
    background-color: rgba(189, 13, 119, 0.459);
    justify-content: space-around;

}

.cadre2 {
    display: flex;
    justify-content: space-around;
}

th,td {
    border: 3px solid black;
    padding: 5px; /*Pour marge interne*/
    border-width: 1px 3px 5px 8px;
    border-style: dashed solid dotted double;
    border-color: black purple blue green;
}

.table1 {
    border-collapse: collapse; /*Pour coller les bordures*/
    margin: auto;
}

.boite {
    background-color: antiquewhite;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 255, 0.074);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
    margin-bottom: 100px;
}

.one {
    grid-column: 1/4;
    grid-row: 1/2;
}

.two {
    grid-column: 1/3;
    grid-row: 2/3;
}

.three {
    grid-column: 3/4;
    grid-row: 2/4;
}

.four {
    grid-column: 1/2;
    grid-row: 3/4;
}

.five{
    grid-column: 2/3;
    grid-row: 3/4;
}

.six {
    grid-column: 1/3;
    grid-row: 4/5;
}

.eight {
    grid-column: 1/4;
    grid-row: 5/6;
}

.boite2 {
    background-color: green;
    border-radius: 1px;
    border: 4px solid black;
    display: flex;
    align-items: baseline;
    justify-content: left;
}

.containerGrid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
    margin-bottom: 100px;
}

.un {
    grid-column: 1/4;
    grid-row: 1/2;
}

.deux {
    grid-column: 1/2;
    grid-row: 2/2;
}

.cinq {
    grid-column: 2/4;
    grid-row: 3/4;
}

.six1 {
    grid-column: 1/3;
    grid-row: 4/5;
}

.sept {
    grid-column: 3/4;
    grid-row: 4/5;
}

.huit {
    grid-column: 1/4;
    grid-row: 5/5;
}

.joji {
    width: 200px;
}

.section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(240, 240, 240);
    border-radius: 8px;
    text-align: center;
}

.section img {
    max-width: 100%;
    border-radius: 10px;
}

.txt-présentation {
    font-size: 14px;
    color: rgb(121, 4, 92);
}

.toggle-desc {
    display: none;
}

.arrow-container {
    margin: 15px 0;
    cursor: pointer;
    display: inline-block;
}

.arrow-down {
    font-size: 24px;
    display: inline-block;
    transition: transform 0.3s;
}

.description-box {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0,3 ease-out;
    background: rgb(212, 212, 212);
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
}

.txtboxblack {
    color: black;
}

.toggle-desc:checked ~ .description-box {/*toggle-desc:checked == Si à été coché -- Le tild ~ 
    cible un élément, à condition qu'ils partagent le même parent (ils sont frères),
    même s'il y a d'autres balises entre les deux, différent du + qui cible uniquement le frère immédiat*/
    max-height: 500px;
    padding: 15px;
}

.toggle-desc:checked ~ .arrow-container .arrow-down {
    transform: rotate(180deg);
    transform: scale(1.5); /*Agrandit la flèche et le texte*/
}

:root {
    /*Couleur par défaut (light mode)*/
    --bg-color: white;
    --text-color: black;
    --card-bg: white;
    --stylePrimary: display: flex, justify-content: center;
}
/*Section hover et animation de base*/
.demo-section {
padding: 50px;
text-align: center;
background-color: var(--card-bg);
}

.btn-intro {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: rgb(253, 145, 163);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /*L'animation d'entrée*/
    animation: slideUpFade 1.5s ease-in;
}
@keyframes slideUpFade {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Conteneur de liens*/
.links-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.links-container a { /*nomdemaclass a == les a contenu dans ma class uniquement*/
    text-decoration: none;
    font-weight: bold;
    font-size: bold;
    font-size: 1.1rem;
    transition: all 0.3 ease;
}

.hover-color {
    color: blueviolet;
    padding: 5px 10px;
}

.hover-color:hover {
    background-color: rgb(253, 145, 163);
    color: white;
    border-radius: 5px;
}
/*Transformation : grossissement (scale)*/
.hover-grow {
    color: blueviolet;
    display: inline-block;
}
    /*Important pour le transform*/
.hover-grow:hover {
    transform: scale(1.2) rotate(5deg);
}
/*Pseudo-élément : Soulignement qui part du centre*/
.hover-underline {
    color: var(--text-color);
    position: relative;
}
.hover-underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: rgb(253, 145, 163);
    transition: all 0.8s ease;
}
.hover-underline:hover::after {
    width: 100%;
    left: 0;
}
/*Effet de lueur*/
.hover-glow {
    color: white;
    border: 1px solid rgb(253, 145, 163);
    padding: 5px 15px;
    border-radius: 5px;
}
.hover-glow:hover {
    box-shadow: 0 0 20px rgb(253, 145, 163);
    background-color: rgb(253, 145, 163);
}
.hover-reveal::before {
    content: "🚀 ";
    opacity: 0;
    margin-left: -25px;
    transition: 0.5s;
}
.hover-reveal:hover::before {
    opacity: 1;
    margin-left: 0;
}



footer {
    background-color: #000000e7; /*Couleur fond footer*/
    padding: 30px 0 10px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-socials {
    display: flex;
    grid-gap: 40px;
}

.footer-bottom {
    background-color: rgb(31, 31, 31);
    border-top: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
}



/*
justify-content = aligne les éléments flex selon l'axe principal (ordonnée)
align-items = Aligne les éléments flex selon l'axe transversal (abscisse)
flex-direction = Définit la direction de l'axe principale
order = Spécifie l'ordre de l'élément flex
align-self = Aligne un élément flex selon l'axe transversal, outrepassant la valeur de align-items.
flex-wrap = Spécifie si les éléments flex sont forcés à être sur une seule ligne ou peuvent être enveloppés sur plusieurs lignes.
flex-flow = Raccourci pour flex-direction et flex-wrap.
align-content = Aligne les lignes d'un conteneur flex à l'intérieur du conteneur flex quand il y a de l'espace superflu sur l'axe transversal.

mettre marge entre chaque boites <br>
*/